<header class="header">
	<div class="logo"><img src="npc-ott/assets/images/NPCMedia.PNG"></div>
	<div><h1>OTT Playback</h1></div>
	<nav class="header-nav">
		<ul>
			<li class="dropdown">
				<span class="drop-trigger"><img src="npc-ott/assets/images/seven-logo.png"></img></span>
				<ul class="drop-menu">
					<li><a href="">7 Sydney</a></li>
					<li><a href="">7 Melbourne</a></li>
					<li><a href="">7 Brisbane</a></li>
					<li><a href="">7 Gold Coast</a></li>
					<li><a href="">7 Adelaide</a></li>
					<li><a href="">7 Perth</a></li>
					<li><a href="">7Q Cairns</a></li>
					<li><a href="">7Q Townsville</a></li>
					<li><a href="">7Q Mackay</a></li>
					<li><a href="">7Q Rockhampton</a></li>
					<li><a href="">7Q Wide Bay</a></li>
					<li><a href="">7Q Sunshine Coast</a></li>
					<li><a href="">7Q Toowoomba</a></li>
				</ul>				
			</li>
			<li class="dropdown">
				<span class="drop-trigger"><img src="npc-ott/assets/images/nine-logo.png"></span>
				<ul class="drop-menu">
					<li><a href="9sydney">9 Sydney</a></li>
					<li><a href="9melbourne">9 Melbourne</a></li>
					<li><a href="9brisbane">9 Brisbane</a></li>
					<li><a href="9adelaide.html">9 Adelaide</a></li>
					<li><a href="9perth">9 Perth</a></li>
				</ul>		
			</li>
		</ul>
	</nav>
</header>